<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Valor</td>
        <td>Acoes</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="credit in bcCtrl.billingCycle.credits">
        <td>
          <input type="text" ng-model="credit.name" class="form-control"
          placeholder="Informe o Nome" ng-readonly="bcCtrl.tabDelete" />
        </td>
        <td>
          <input type="number" ng-model="credit.value" class="form-control"
          placeholder="Informe o valor" ng-readonly="bcCtrl.tabDelete" ng-change="bcCtrl.calculateValues()" />
        </td>
        <td class="table-actions">
          <button class="btn btn-success" ng-disabled="bcCtrl.tabDelete" name="button" ng-click="bcCtrl.addList($index, 'credits')">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-warning" ng-disabled="bcCtrl.tabDelete" name="button" ng-click="bcCtrl.cloneList($index, credit , 'credits')">
            <i class="fa fa-clone"></i>
          </button>
          <button class="btn btn-danger" ng-disabled="bcCtrl.tabDelete" name="button" ng-click="bcCtrl.deleteList($index, 'credits')">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
