<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Valor</td>
        <td>Status</td>
        <td>Acoes</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="debt in bcCtrl.billingCycle.debts">
        <td>
          <input type="text" ng-model="debt.name" class="form-control"
          placeholder="Informe o Nome" ng-readonly="bcCtrl.tabDelete"  />
        </td>
        <td>
          <input type="number" ng-model="debt.value" class="form-control"
          placeholder="Informe o valor" ng-readonly="bcCtrl.tabDelete" ng-change="bcCtrl.calculateValues()" />
        </td>
        <td>
          <input ng-model="debt.status" class="form-control"
          placeholder="Informe o Status" ng-readonly="bcCtrl.tabDelete" />
        </td>
        <td class="table-actions">
          <button class="btn btn-success" ng-disabled="bcCtrl.tabDelete" name="button" ng-click="bcCtrl.addList($index, 'debts')">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-warning" ng-disabled="bcCtrl.tabDelete" name="button" ng-click="bcCtrl.cloneList($index, debt , 'debts')">
            <i class="fa fa-clone"></i>
          </button>
          <button class="btn btn-danger" ng-disabled="bcCtrl.tabDelete" name="button" ng-click="bcCtrl.deleteList($index, 'debts')">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
